[Unit]
Description="LXD"
Documentation="https://linuxcontainers.org/lxd/docs/master/"

[Service]
User=root
Environment=LD_LIBRARY_PATH={{ ansible_env.HOME }}/src/lxd-4.23/vendor/raft/.libs/:{{ ansible_env.HOME }}/src/lxd-4.23/vendor/dqlite/.libs/
ExecStart=bash -c "PATH=$PATH:{{ go_path }}/bin lxd --group lxd"

[Install]
WantedBy=multi-user.target
